anyvc==0.3.7.1
apipkg==1.4
appdirs==1.4.3
Appium-Python-Client==0.24
astroid==1.4.8
behave==1.2.5
behave2cucumber==1.0.3
chromedriver-installer==0.0.6
colorama==0.3.7
configparser==3.5.0
cycler==0.10.0
decorator==4.0.11
future==0.16.0
ipython-genutils==0.2.0
isort==4.2.5
jira==1.0.7
jsonschema==2.6.0
jupyter-core==4.3.0
lazy-object-proxy==1.2.2
lxml==3.7.2
mailer==0.8.1
matplotlib==2.0.0
mccabe==0.5.2
nbformat==4.3.0
nose==1.3.7
ntlm-auth==1.0.2
numpy==1.12.1
oauthlib==2.0.1
ordereddict==1.1
packaging==16.8
page-objects==1.1.0
pageobject==0.0.52
parse==1.8.2
parse-type==0.3.4
plotly==2.0.8
py==1.4.32
py2exe==0.9.2.2
pyexcel-io==0.2.4
pyexcel-xls==0.2.3
PyInstaller==3.2.1
pylint==1.6.4
pyparsing==2.2.0
pypiwin32==219
pytest==3.0.7
pytest-base-url==1.2.0
pytest-html==1.13.0
pytest-selenium==1.7.0
pytest-variables==1.4
python-dateutil==2.6.0
python-docx==0.8.6
pytz==2017.2
requests==2.12.5
requests-ntlm==1.0.0
requests-oauthlib==0.7.0
requests-toolbelt==0.7.0
selenium==3.3.3
SharePlum==0.1.1
sharepoint==0.4.2
six==1.10.0
svn==0.3.44
tlslite==0.4.9
traitlets==4.3.2
wrapt==1.10.8
xlrd==1.0.0
XlsxWriter==0.9.3
xlwt-future==0.8.0
xmltodict==0.11.0
